main{
    width:100%;
}
main h3{
    padding:110px 0 46px;
    font-size:36px;
    line-height:42px;
    font-family:'NanumSquare';
}
main h3::after{
    content:'';
    display:block;
    background:url(../images/h3_title_ico.png) no-repeat center;
    width:45px;
    height:50px;
    margin-left:220px;
    margin-top:-60px;
}
main h3 strong{
    font-family:'NanumSquareExtraBold';    
}

/* content1 main news */
.content1 .main_news{
    border-top:1px solid #c5c5c5;
    padding:30px 0;
}
.content1 .main_news li{
    border:1px solid #e9e9e9;
    height:325px;
    width:400px;
    position:relative;
    overflow:hidden;
    margin:0 10px;
}
.content1 .main_news li a{
    display:block;
}
.content1 .main_news li .news_txt{
    background:rgba(0, 0, 0, .5);
    padding:20px;
    width:100%;
    height:134px;
    color:#fff;
    position:absolute;
    bottom:0px;
    z-index:21;
    padding-bottom:30%;
    transition:padding-top 0.5s;
}
.content1 .main_news li .news_txt>span{
    display:block;
    font-size:14px;
    margin-bottom:20px;
}
.content1 .main_news li .news_txt>strong{
    font-size:18px;
    font-weight:normal;
}
.content1 .main_news li .image{
    width:100%;
    height:100%;
}
.content1 .main_news li a img{
    width:auto;
    height:100%;
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    transform:scale(1.1) translateX(-40px);
}
.content1 .main_news li:last-child img{
    transform: translateX(0px);
}
.main_news li:hover .news_txt{
    padding-top:50%;
    transition:padding-top 0.3s;
}
.content1 .main_news li a::after{
    content:'';
    background:url(../images/news_more.png) no-repeat center;
    width:24px;
    height:24px;
    position: absolute;
    right:30px;
    top:30px;
    z-index:66;
    opacity:0;
    transition:all 0.5s;
}
.main_news li a:hover::after{
    opacity:1;
    transform:rotate(360deg);
    transition:all 0.5s;
}
.title_box{
    position: relative;
}
main .main_news .news_more .more_btn{
    position: relative;
    text-indent:-9999px;
    display:block;
}
main .main_news .news_more .more_btn::after{
    top:-430px;
    right:0;
}
main .main_news .mn_slider li span.new{
    display:none;
}
main .main_news .mn_slider li.new:after{
    content: 'NEW';
    display: block;
    background:#195bb1;
    color:#fff;
    position:absolute;
    top:0;
    left:5%;
    padding:18px 10px;
    font-size:15px;
    box-shadow: 5px 1px 30px rgba(0, 0, 0, .5);
    z-index:222;
}
.content1 .main_news .slick-dots{
    bottom:-55px;
}
.content1 .main_news .slick-dots li{
    width:35px;
    height:4px;
    background-color:#c5c5c5;
    cursor: pointer;
    border:none;
}
.content1 .main_news .slick-dots li.slick-active{
    background: #195bb1;
}
.content1 .main_news .slick-dots button::before{
    display:none;
}

/* second news */
.second_news>ul>li{
    border:1px solid #e9e9e9;
    border-top:1px solid #222;
    height:280px;
    margin-top:30px;
    margin-bottom:2%;
    position: relative;
}
.notice{
    width:50%
}
.magazine, .recruit{
    width:23%;
}
.notice, .magazine{
    margin-right:2%;
}
.second_news h4{
    font-size:20px;
    font-weight:500;
    border-bottom:1px solid #c5c5c5;
    padding:20px 28px;
}
.second_news h4 span{
    font-size:14px;
    color:#777;
}
.notice ul{
    padding:10px 28px;
}
.notice li{
    margin:18px 0 15px 5px;
}
.notice li>strong>a{
    font-size:17px;
    font-weight:normal;
    width:75%;
    display:block;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    padding-left:15px;
}
.notice li .date{
    font-size:16px;
    color:#999;
    font-weight:300;
    position: relative;
    top:0;
    left:65px;
}
.notice li>strong>a::after{
    content:'';
    display:block;
    width:4px;
    height:4px;
    background-color:#333;
    position: relative;
    top:-15px;
    left:-15px;
}
.notice li>strong>a:hover{
    color:#195bb1;
    transition:all 0.3s;
}
.more_btn::after{
    content:'';
    background:url(../images/btn_more_bul.png) no-repeat center center;
    width:20px;
    height:20px;
    display:block;
    transition:all 0.3s;
    position: absolute;
    bottom:230px;
    right:25px;
}
.more_btn>span{
    display:none;
}
.more_btn:hover::after{
    transform:rotate(180deg);
    transition:all 0.3s;
}
.magazine{
    background:#f3f3f3;
}
.magazine a{
    display:block;
    width:140px;
    margin:15px auto;
    box-shadow:-5px 5px 4px rgba(0, 0, 0, .5);
}
.recruit{
    cursor: pointer;
    padding:28px;
}
.recruit span{
    display:inline-block;
    color:#fff;
    background-color:#222;
    padding:8px 16px;
    font-size:14px;
    font-weight:bold;
    margin-bottom:20px;
    transition:all 0.3s;
}
.recruit>a>p{
    font-size:17px;
    font-weight:500;
    margin-bottom:75px;
    transition:all 0.3s;
}
.recruit>a>p.date{
    font-size:14px;
    font-weight:normal;
    color:#555;
    transition:all 0.3s;
}
.recruit::after{
    content:'';
    display:block;
    background:url(../images/job_bg.png) no-repeat center;
    width:65px;
    height:60px;
    position:absolute;
    top:190px;
    right:30px;
    transition:all 0.3s;
}
.recruit:hover p, .recruit:hover p.date{
    color:#195bb1;
    transition:all 0.3s;
}
.recruit:hover span{
    background-color:#195bb1;
    transition:all 0.3s;
}
.recruit:hover::after{
    background:url(../images/job_bg_on.png) no-repeat center;
    transition:all 0.3s;
}
.media_news>ul>li{
    border:1px solid #e9e9e9;
    width:32%;
    height:280px;
    position: relative;
    overflow:hidden;
    margin-bottom:100px;
    background:#000;
}
.video, .card_news{
    margin-right:2%;
    font-size:20px;
}
.media_news h4{
    color:#fff;
    font-size:20px;
    font-weight:500;
    position:absolute;
    padding:20px 28px;
    z-index:33;
}
.media_news img{
    width:100%;
    opacity:.75;
}
.video img{
    width:130%;
    transform: translateY(-50px) translateX(-55px);
}
.media_news .video h4::after{
    content:'';
    display:block;
    background:url(../images/movie_ico.png) no-repeat center;
    width:20px;
    height:26px;
    opacity:.8;
    margin:80px 170px;
}
.more_btn_w::after{
    content:'';
    background:url(../images/btn_more_bul_white.png) no-repeat center center;
    width:20px;
    height:20px;
    display:block;
    transition:all 0.3s;
    position: absolute;
    bottom:230px;
    right:25px;
}
.more_btn_w>span{
    display:none;
}
.video:hover .more_btn_w::after, .card_news:hover .more_btn_w::after{
    transform:rotate(180deg);
    transition: all 0.3s;
}
.video:hover img,.video:hover h4::after,.card_news:hover img,.video:hover h4::after{
    opacity:1;
    transition:all 0.3s;
}
.dis_none{
    display:none;
}
.media_news>ul>li.mini_banner{
    background:#fff;
}

/* mini_banner */
.mini_banner .mb_slider img{ 
    width:100%;
    opacity:1;
    height:280px;
    transform: scaleX(1.6);
}
.mini_banner .mb_slider li{
    overflow: hidden;
}
/* mini_banner bx_slider */
.mini_banner .bx-wrapper{
    margin-bottom:0;
    box-shadow:none;
    border:none;
    background:none;
}
.mini_banner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
    bottom:0px;
    background:transparent;
    padding:20px 0;
    z-index:21;
}
.mini_banner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{
    bottom:0px;
    background: rgba(0, 0, 0, .5);
    padding:24px 0 24px 70%;
    width:100%;
}
.mini_banner .bx-wrapper .bx-controls-auto .bx-start{
    background:url(../images/popupzone_control_play.png) no-repeat center;
}
.mini_banner .bx-wrapper .bx-controls-auto .bx-stop{
    background:url(../images/popupzone_control_stop.png) no-repeat center;
}
.mini_banner .bx-controls-auto-item{
    position:relative;
    right:10px;
    bottom:3px;
}
.mini_banner .bx-wrapper .bx-pager.bx-default-pager a:focus,.mini_banner .bx-wrapper .bx-pager.bx-default-pager a{
    background:rgba(255, 255, 255, .5);
}
.mini_banner .bx-wrapper .bx-pager.bx-default-pager a.active, .mini_banner .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background:#fff;
}
.mini_banner .bx-wrapper .bx-controls-auto .bx-start:hover,.mini_banner .bx-wrapper .bx-controls-auto .bx-stop:hover{
    background-position:center center;
}

/* content1 bg_img */
.content1::before{
    content:'';
    display:block;
    background:url(../images/news_bg2.png) no-repeat center left;
    width:170px;
    height:275px;
    position:absolute;
    right:0;
    margin:140px 0;
}
.content1::after{
    content:'';
    display:block;
    background:url(../images/news_bg1.png) no-repeat center right;
    width:170px;
    height:194px;
    position:absolute;
    left:0;
    margin-top:-300px;
}

/* content2 */
main .content2{
    width:100%;
    background-color:#0a4594;
    color: #f0f0f0;
    padding-bottom:110px;
    font-weight:normal;
}
.content2::after{
    content:'';
    display:block;
    background:url(../images/service_bg.png) no-repeat center left;
    width:200px;
    height:264px;
    position:absolute;
    right:0;
    margin:-550px 0;
}
.content2 a{
    color: #e0e0e0;
    font-weight:normal;
    font-size:15px;
}
.content2 h3{
    color:#fff;
}
.content2 h3::after{
    content:'';
    display:block;
    background:url(../images/h3_title_ico2.png) no-repeat center;
    width:45px;
    height:50px;
    position: relative;
    left:40px;
}
.content2 .suggest, .content2 .service_box{
    position: relative;
}
.content2 .suggest{
    width:22%;
    height:415px;
}
.content2 .suggest>a{
    display:block;
    height:100%;
    padding:30px 30px;
    border:1px solid #3868a8;
    border-top:1px solid #fff;
    transition:all 0.3s;
}
.content2 .suggest h4>strong, .service_box h4>strong{
    font-size:20px;
    color:#fff;
    font-weight:500;
}
.content2 .suggest h4{
    background:url(../images/service_suggest_titlebg.png) no-repeat right 10%;
}
.content2 .suggest h4>span{
    font-weight:300;
    margin:20px 0;
    display:inline-block;
}
.content2 .suggest li{
    padding:15px 0;
    border-bottom:1px dotted #6c8db9;
}
.content2 .suggest li:nth-child(4){
    border:none;
}
.content2 .arrow{
    display:inline-block;
    background:url(../images/service_arrow_bul.png) no-repeat left;
    width:24px;
    height:10px;
    position: absolute;
    bottom:40px;
}
.suggest>a::after{
    content:'';
    display:block;
    background:#0a4594 url(../images/service_minwon_bg.jpeg) no-repeat;
    width:22px;
    height:22px;
    position: absolute;    
    top:0;
    right:0;
    opacity:0;
    transition:all 0.3s;
}
.suggest>a:hover::after{
    opacity:1;
    transition:all 0.3s;
}
.suggest>a:hover{
    background:#073067;
    border:1px solid #073067;
    transition:all 0.3s;
}
.service_box{
    padding-left:22px;
    width:78%;
}
.service_box>ul>li:nth-child(-n+5){
    width:20%;
    height:165px;
    border:1px solid #3868a8;
    border-top:1px solid #fff;
}
.service_box>ul>li:nth-child(-n+4){
    border-right:none
}
.service_box>ul>li:nth-child(-n+5) span{
    text-align: center;
    display:block;
    padding:100px 0 0;
    transition:all 0.5s;
}
.service_box .box1{
    background:url(../images/service_link_ico1.png) no-repeat center 35%;
    width:42px;
    height:53px;
}
.service_box .box1 a::after{
    content:'';
    display:block;
    background:url(../images/service_link_ico1_on.png) no-repeat;
    width:42px;
    height:53px;
    margin:-54% auto;
    opacity:0;
    transition:all 0.5s;
}
.service_box .box2{
    background:url(../images/service_link_ico2.png) no-repeat center 35%;
    width:50px;
    height:53px;
}
.service_box .box2 a::after{
    content:'';
    display:block;
    background:url(../images/service_link_ico2_on.png) no-repeat;
    width:50px;
    height:53px;
    margin:-54% auto;
    opacity:0;
    transition:all 0.5s;
}
.service_box .box3{
    background:url(../images/service_link_ico3.png) no-repeat center 35%;
    width:35px;
    height:53px;
}
.service_box .box3 a::after{
    content:'';
    display:block;
    background:url(../images/service_link_ico3_on.png) no-repeat;
    width:35px;
    height:53px;
    margin:-55% auto;
    opacity:0;
    transition:all 0.5s;
}
.service_box .box4{
    background:url(../images/service_link_ico4.png) no-repeat center 35%;
    width:69px;
    height:53px;
}
.service_box .box4 a::after{
    content:'';
    display:block;
    background:url(../images/service_link_ico4_on.png) no-repeat;
    width:69px;
    height:53px;
    margin:-54% auto;
    opacity:0;
    transition:all 0.5s;
}
.service_box .box5{
    background:url(../images/service_link_ico5.png) no-repeat center 35%;
    width:62px;
    height:53px;
}
.service_box .box5 a::after{
    content:'';
    display:block;
    background:url(../images/service_link_ico5_on.png) no-repeat;
    width:62px;
    height:53px;
    margin:-54% auto;
    opacity:0;
    transition:all 0.5s;
}
.service_box>ul.list>li:nth-child(-n+5):hover{
    background:#fff;
    transition:all 0.5s;
}
.service_box li:nth-child(-n+5):hover a{
    color:#0a4594;
}
.service_box li:nth-child(-n+5):hover a::after{
    opacity:1;
}
.service_box li:nth-child(n+6){
    width:32%;
    height:229px;
    margin-top:2%;
    border:1px solid #3868a8;
    padding:30px;
    transition:all 0.3s;
    cursor: pointer;
}
.service_box .box6, .box7{
    margin-right:2%;
}
.service_box h4>span{
    display:inline-block;
    font-weight:300;
    margin-top:20px;
}
.box6 h4{
    height:100%;
    background:url(../images/service_link_ico6.png) no-repeat right 100%;
}
.box7 h4{
    height:100%;
    background:url(../images/service_link_ico7.png) no-repeat right 100%;
}
.box8 h4{
    height:100%;
    background:url(../images/service_link_ico8.png) no-repeat right 100%;
}
.service_box .box6 .hover_txt{
    position:relative;
    bottom:120px;
    left:0;
    width:100%;
    height:130px;
    padding:1px;
    background-color: #073067;
    opacity:0;
    transition:all 0.3s;
}
.service_box .box6 .hover_txt li>.txt{
    color:#fff;
    display:block;
    width:100%;
    border:1px solid #6c8db9;
    margin-bottom:5px;
    padding:8px;
    transition:border 0.3s;
}
.service_box .box6 .hover_txt li>.txt:hover{
    background:none;
    border:1px solid #fff;
    transition:border 0.3s;
}
.hover_txt li>span.hover_arrow{
    display:inline-block;
    background:url(../images/service_arrow_bul.png) no-repeat left;
    width:24px;
    height:10px;
    position:relative;
    top:-40px;
    left:210px;
}
.service_box .box6:hover{
    background: #073067;
    border:1px solid #073067;
    transition:all 0.3s;
}
.service_box .box6:hover .hover_txt{
    opacity:1;
    transition:all 0.3s;
}
.service_box .box6::after, .service_box .box7::after, .service_box .box8::after{
    content:'';
    display:block;
    background:#0a4594 url(../images/service_minwon_bg.jpeg) no-repeat;
    width:22px;
    height:22px;
    position:relative;    
    top:-198px;
    left:260px;
    opacity:0;
    transition:all 0.3s;
}
.service_box .box6::after{
    top:-330px;
}
.service_box .box6:hover::after, .service_box .box7:hover::after,.service_box .box8:hover::after{
    opacity:1;
    transition:all 0.3s;
}
.service_box .box7:hover,.service_box .box8:hover{
    background:#073067;
    border:1px solid #073067;
    transition:all 0.3s;
}

/* content3 */
.content3{
    width:100%;
    background:#f0f0f0 url(../images/business_slider_bg.png) repeat-x;
    background-position:0 60%;
    position: relative;
}
.content3 h3::after{
    margin-left:285px;
}
.content3 .business_box{
    width:718px;
    height:100%;
    margin:auto;
    border: #073067;
    padding-bottom:30px;
}
.content3 .business_box li.slide1{
    background:url(../images/business_slider_bg1.png) no-repeat center;
}
.content3 .business_box li.slide2{
    background:url(../images/business_slider_bg2.png) no-repeat center;
}
.content3 .business_box li.slide3{
    background:url(../images/business_slider_bg3.png) no-repeat center;
}
.content3 .business_box li.slide4{
    background:url(../images/business_slider_bg4.png) no-repeat center;
}
.content3 .business_box li.slide5{
    background:url(../images/business_slider_bg5.png) no-repeat center;
}
.content3 .business_box li.slide6{
    background:url(../images/business_slider_bg6.png) no-repeat center;
}
.content3 .business_box li>a{
    display:block;
    width:718px;
    height:484px;
}
.content3 .business_box .box_title{
    background:url(../images/business_titlebg.png) no-repeat center;
    width:191px;
    height:165px;
    position:absolute;
    top:30%;
    margin-left:5px;
    color:#e9e9e9;
    padding:30px;
    transition:all 0.3s;
}
.content3 .business_box .box_title h4{
    color:#e6f03e;
    font-size:22px;
    font-weight:normal;
    margin-bottom:20px;
}
.content3 .business_box .box_title span{
    display: inline-block;
    width:110px;
    background:url(../images/business_arrow.png) no-repeat right;
}
.content3 .business_box ul li:hover .box_title{
    background:url(../images/business_titlebg_on.png) no-repeat center;
    transition:all 0.3s;
}
.content3 ul.bns_slider button{
    display:block;
    width:72px;
    height:62px;
    opacity: .5;
    transition:all 0.3s;
    position: absolute;
}
/* content3 slick */
.content3 ul.bns_slider button.slick-prev{
    background:url(../images/business_slider_control.png) no-repeat center;
    left:-40%;
    top:240px;
}
.content3 ul.bns_slider button.slick-next{
    background:url(../images/business_slider_control.png) no-repeat center;
    transform:rotate(180deg);
    right:-40%;
    top:210px;
}
.content3 ul.bns_slider .slick-prev:before,.content3 ul.bns_slider .slick-next:before{
    display:none;
}

.content3 ul.bns_slider button.slick-prev:hover, ul.bns_slider button.slick-next:hover{
    opacity:1;
    transition:all 0.5s;
}

/* content3 bg_img */
.content3::before{
    content:'';
    display:block;
    background:url(../images/business_bg1.png) no-repeat top left;
    width:190px;
    height:130px;
    position: absolute;
    left:40px;
    top:600px;
}
.content3::after{
    content:'';
    display:block;
    background:url(../images/business_bg2.png) no-repeat center;
    width:202px;
    height:220px;
    position: absolute;
    right:40px;
    top:100px;
}

/* content4 */
.content4{
    background:#f7f7f7 url(../images/management_bg.jpg) no-repeat right 50%;
    background-size:auto 100%;
    padding:200px 0;
    position: relative;
}
.management_title_box h3{
    padding:0;
}
.management_title_box h3::after{
    margin-left:210px;
}
.content4 .management_title_box p{
    margin-top:40px;
    font-size:15px;
}
.content4 .management_box{
    width:70%;
    height:100%;
    margin-left: 350px;
    text-align:center;
}
.content4 .management_box li{
    width:27%;
    height:220px;
    margin-right:85px;
}
.content4 .management_box li:last-child{
    margin-right:0;
}
.management_box li h4{
    font-family:'NanumSquareBold',sans-serif;
    font-size:22px;
    font-weight:bold;
    padding:10px 0;
    border-bottom:2px solid #222;
}
.management_box li h4::after{
    content:'';
    display:block;
    background:url(../images/management_list_bul.png) no-repeat center;
    width:13px;
    height:13px;
    position:relative;
    left:277px;
    top:20px;
    cursor: default;
}
.management_box li:last-child h4::after{
    opacity:0;
}
.management_box li span{
    padding:20px 0 40px;
    display:inline-block;
}
.management_box li .view_btn{
    border:1px solid #ccc;
    padding:15px 0;
    font-size:15px;
    background:rgba(255, 255, 255, .5);
    transition:all 0.3s;
}
.management_box li .view_btn:hover{
    background:#195bb1;
    border:1px solid #195bb1;
    color:#f0f0f0;
    transition:all 0.3s;
}